/* MAIN SECTION Styles */
.main-skitka {
  background-color: #EAF1EB;
  border-radius: 24px;
  padding: 48px 0 48px 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.main-skitka .left-contant {
  width: 60%;
}

.main-skitka .left-contant .main-skitka__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #1F2533;
}

.main-skitka .left-contant .main-skitka__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #1F2533;
  margin-top: 12px;
  margin-bottom: 21px;
}

.price-box {
  width: 300px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.price-box i {
  font-size: 48px;
  color: #E55C5C;
  cursor: pointer;
  animation-name: priceAnim;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.price-box .new__price {
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;
  color: #E55C5C;
}

.price-box .old__price {
  font-size: 22px;
  font-weight: 600;
  line-height: 54px;
  color: #70737C;
}

.button-box {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.button-box .card__btn,
.button-box .discover__btn {
  padding: 11px 33px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-box .card__btn {
  background: #359740;
  color: #fff;
}

.button-box .card__btn:hover {
  background: #2BB159;
}

.button-box .card__btn:active {
  background: #4FA083;
}

.button-box .discover__btn {
  background-color: #fff;
  color: #359740;
}

.button-box .discover__btn:hover {
  background: #35974014;
}

.button-box .discover__btn:active {
  background: #35974014;
  border: 1px solid #359740;
}

.main-skitka .right-contant {
  width: 40%;
  height: 100%;
  position: relative;
}

.main-skitka .right-contant .leaft-img {
  position: absolute
}

.main-skitka .right-contant .backround-img {
  right: 0;
  bottom: -12%;
  animation-name: backroundAnim;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all .2s ease-in;
}

.main-skitka .right-contant .leaft__bottom {
  left: 6%;
  bottom: -12%;
}

.main-skitka .right-contant .leaft__center {
  left: 22%;
  top: 10%;
}

.main-skitka .right-contant .leaft__right {
  right: 0;
  top: -3%
}

.main-skitka .right-contant .leaft__right-top {
  right: 0;
  top: -5%;
}

.main-skitka .right-contant .product-img {
  position: relative;
  left: 20%;
  z-index: 10;
}

/* SEEDS-BOX SECTION Styles */
.seeds-box {
  height: 106px;
  margin-top: 16px;
  padding: 23px 0;
  background-color: #FFE62E17;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeds-box .left-img {
  width: 20%;
  height: 56px;
  position: relative;
}

.seeds-box .leaft-img,
.seeds-box .right-img {
  position: absolute;
}

.seeds-box .left-img .leaft-center {
  top: -35%;
  left: 5%;
}

.seeds-box .left-img .seed-rigth {
  top: 30%;
  right: 40%;
}

.seeds-box .left-img .leaft-bootm-right {
  bottom: -45%;
  right: 10%;
  filter: blur(1px);
}

.seeds-box .left-img .seed-bottom {
  bottom: -45%;
  left: 15%;
}

.seeds-box .center-contant {
  text-align: center;
}

.seeds-box .center-contant .seeds-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #1F2533;
}

.seeds-box .center-contant .seeds-about {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #70737C;
}

.seeds-box .right-img {
  width: 20%;
  height: 56px;
  position: relative;
}

.seeds-box .right-img .seed-top {
  top: -45%;
  left: 15%;
}

.seeds-box .right-img .seed-center {
  top: -10%;
  left: 50%;
}

.seeds-box .right-img .leaft-bottom {
  bottom: -45%;
  right: 0;
}

.seeds-box .right-img .seed-left-bottom {
  top: 40%;
  left: 30%;
}

/* products-section Section Styles */

.products-section {
  padding: 48px 0;
}

.products__title-box {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__title-box .products__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #1F2533;
}

.products__title-box .all__products {
  padding: 11px 33px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 900;
  line-height: 28px;
  color: #359740;
  transition: all .3s ease-out;
}

.products__title-box .all__products:hover {
  background: #FFFFFF;
  border: 2px solid #35974014;
}

.products__title-box .all__products:active {
  border: 1px solid #359740;
}

/* .products-list BOX Styles */

.products-section .products-list {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  overflow: hidden;
}

.products-list .product-iteam {
  padding: 20px 30px 20px 16px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  transition: all .2s ease-in;
  cursor: pointer;
}

.products-list .product-iteam:hover {
  background: #FFFFFF;
  border: 2px solid #35974014;
}

.products-list .product-iteam:active {
  border: 1px solid #359740;
}

.products-list .product-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #1F2533;
}

/* product__iteams-box BOX Styles */

.products-section .product__iteams-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}

.product__iteams-box .product__iteam {
  width: 30%;
  position: relative;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  transition: all .3s ease;
  cursor: pointer;
}

.product__iteams-box .product__iteam:hover {
  border: 2px solid #EFEFEF;
  box-shadow: 0px 1px 13px 0px #00000040;
}

.product__iteams-box .product__iteam:hover .pruduct-about img {
  transform: scale(1.1);
}

.product__iteam .favorite-product-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #EFEFEF;
  background-color: #fff;
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-product-box .favorite-product {
  display: none;
}

.favorite-product-box .bx-heart {
  font-size: 24px;
  color: #FFCF55;
  cursor: pointer;
  transition: all .3s ease;
}

.favorite-product-box .bx-heart:hover {
  transform: scale(1.2);
}

.favorite-product-box .bxs-heart {
  font-size: 24px;
  color: #FFCF55;
  cursor: pointer;
  display: none;
}

.product__iteam .pruduct-about {
  padding: 28px;
}

.product__iteam .pruduct-about .pruduct-about-img {
  width: 85%;
  border-radius: 12px;
  margin: 0 auto;
  overflow: hidden;
}

.pruduct-about img {
  width: 100%;
  transition: all .3s ease-in;
}

.pruduct-about .star-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 1px;
}

.star-box a .bxs-star {
  font-size: 16px;
  color: #FFCF55;
}

.star-box a .bxs-star-half {
  font-size: 16px;
  color: #FFCF55;
  margin-right: 13px;
}

.star-box .star-text a {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: #70737C;
}

.pruduct-about .pruduct-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  color: #1F2533;
  margin: 8px 0;
}

.pruduct-about .product-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pruduct-about .product-price-box .product-price {
  font-size: 28px;
  font-weight: 900;
  line-height: 54px;
  color: #1F2533;
}

.pruduct-about .product-price-box .bxs-hot {
  color: #E55C5C;
  font-size: 24px;
  display: none;
}

.pruduct-about .product-price-box .cart-box {
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.pruduct-about .product-price-box .cart-box:hover {
  background: #35974014;
  border: 1px solid #EFEFEF;
}

.pruduct-about .product-price-box .cart-box:hover .bx-cart-alt {
  transform: scale(1.1);
}

.pruduct-about .product-price-box .cart-box:active {
  background: #359740;
  border: 1px solid #359740;
}

.pruduct-about .product-price-box .cart-box:active .bx-cart-alt {
  color: #fff;
}

.product-price-box .cart-box .bx-cart-alt {
  font-size: 24px;
  color: #359740;
  transition: all .3s ease-out;
}

/* blog-section SECTION Styles */
.blog-section {
  padding: 32px 0;
}

/* blog-iteam-title-box BOX  */
.blog-iteam-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.blog-iteam-title-box h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #1F2533;
}


.blog-iteam-title-box a {
  padding: 11px 33px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.51px;
  color: #359740;
  transition: all .3s ease;
}

.blog-iteam-title-box a:hover {
  background: #FFFFFF;
  border: 2px solid #35974014;
}

.blog-iteam-title-box a:active {
  border: 1px solid #359740;
}

.blog-iteams-box {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: auto auto;
  gap: 30px;
  justify-content: space-between;
}

.blog-iteams-box .blog-iteam {
  border-radius: 12px;
  display: flex;
  transition: all .3s ease;
  cursor: pointer;
}

.blog-iteams-box .blog-iteam:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.blog-iteams-box .gird-left-top {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #EAF1EB;
}

.blog-iteams-box .grid-right {
  grid-column: 3/4;
  grid-row: 1/3;
  background: #EFF2F8;
  flex-direction: column;
}

.blog-iteams-box .grid-left-bottom {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #EFF2F8;
  flex-direction: column;
}

.blog-iteams-box .grid-center {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #EFF2F8;
  flex-direction: column;
}

.blog-iteam .blog-iteam-left {
  width: 70%;
  margin-top: 30px;
  margin-left: 30px;
}

.blog-iteam-left data {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #70737C;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.blog-iteam-left data i {
  font-size: 24px;
  color: #70737C;
}

.blog-iteam-left .blog-iteam-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  color: #1F2533;
  margin-top: 8px;
  margin-bottom: 4px;
}

.blog-iteam-left .blog-iteam-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #70737C;
}

.blog-iteam-left .blog-btn {
  padding: 11px 33px;
  margin-top: 14px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #359740;
  cursor: pointer;
  transition: all 0.3s ease;
}

.blog-iteam-left .blog-btn:hover {
  background: #35974014;
}

.blog-iteam-left .blog-btn:active {
  background: #35974014;
  border: 1px solid #359740;
}

.blog-iteam-right {
  text-align: right;
}

/* customer__opinion SECTION Styles */
.customer__opinion-section {
  padding: 50px 0;
}

.customer__opinion-section .customer__opinion-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  color: #1F2533;
}

.customer__opinion-section .customer-iteams {
  max-width: 1110px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.customer-iteams .customer__opinion-box {
  width: 540px;
  padding: 42px 32px;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  opacity: 0.5;
  cursor: pointer;
  transition: all .2s ease;
}

.customer-iteams .customer__opinion-box:hover {
  transform: translateY(-35px);
  opacity: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.customer__opinion-box .customer {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.customer__opinion-box .customer img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.customer__opinion-box .customer .customer-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #1F2533;
}

.customer__opinion-box .customer data {
  font-size: 14px;
  font-weight: 400;
  color: #70737C;
}

.customer__opinion-box .star-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customer__opinion-box .star-box i {
  color: #FFCF55;
  font-size: 24px;
}

.customer__opinion-box .customer__opinion {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #1F2533;
}

.customer__opinion-section .triple-box {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.triple-box .triple {
  width: 35px;
  height: 6px;
  border-radius: 30px;
  background: #359740;
  opacity: .2;
}

.customer__opinion-section .triple-box .active {
  opacity: 1;
}

/* seedra__speed SECTION Styles */
.seedra__speed {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.seedra__speed .left-content {
  width: 40%;
  margin-left: 165px;
}

.seedra__speed .left-content .seedra__speed-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #1F2533;
  margin-bottom: 30px;
}

.seedra__speed .left-conten .seedra__speed-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #1F2533;
}

.seedra__speed .right-img {
  width: 50%;
  height: 658px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.seedra__speed .right-img .right__img-content {
  position: absolute;
}

.seedra__speed .right-img .circle {
  top: 10%;
  right: 15%;
  z-index: 2;
}

.seedra__speed .right-img .girl-img {
  top: 17%;
  right: 23%;
  z-index: 10;
}

.seedra__speed .right-img .leaft-top {
  top: 22%;
  left: -10%;
  animation-name: leaftRotation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-bootom {
  bottom: 5%;
  left: -8%;
  z-index: 2;
  animation-name: leaftJump;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-right {
  top: 18%;
  right: 3%;
  z-index: 2;
  animation-name: leaftBig;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-top-right {
  top: 5%;
  right: 30%;
  animation-name: leaftCircle;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-right-bottom {
  bottom: 15%;
  right: 0;
  animation-name: leaftHidden;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .right__img-content {
  position: absolute;
}

.seedra__speed .right-img .circle {
  top: 10%;
  right: 15%;
  z-index: 2;
}

.seedra__speed .right-img .girl-img {
  top: 17%;
  right: 23%;
  z-index: 10;
}

.seedra__speed .right-img .leaft-top {
  top: 22%;
  left: -10%;
  animation-name: leaftRotation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-bootom {
  bottom: 5%;
  left: -8%;
  z-index: 2;
  animation-name: leaftJump;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-right {
  top: 18%;
  right: 3%;
  z-index: 2;
  animation-name: leaftBig;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-top-right {
  top: 5%;
  right: 30%;
  animation-name: leaftCircle;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.seedra__speed .right-img .leaft-right-bottom {
  bottom: 15%;
  right: 0;
  animation-name: leaftHidden;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* MEDIA SECTION */
@media screen and (max-width: 1160px) {
  .seedra__speed {
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
    padding-bottom: 0;
  }

  .seedra__speed .left-content {
    width: 100%;
    margin-left: 0;
    padding: 0 5%;
    text-align: center;
  }

  .seedra__speed .right-img {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width:1024px) {
  .main-skitka {
    margin: 0 1rem;
    padding: 0 1rem 1rem 0;
    flex-direction: column-reverse;
  }

  .main-skitka .left-contant {
    width: 100%;
    padding: 1rem;
    padding-top: 60px;
    position: relative;
  }

  .price-box {
    position: absolute;
    top: 0;
  }

  .main-skitka .right-contant {
    width: 100%;
  }

  .main-skitka .right-contant .backround-img {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .main-skitka .right-contant .leaft__bottom {
    top: 10%;
    left: 40%;
    transform: rotateZ(90deg);
  }

  .main-skitka .right-contant .leaft__center {
    top: 50%;
    left: 2%;
  }

  .main-skitka .right-contant .leaft__right {
    top: 40%;
    right: 40%;
    transform: rotateZ(90deg);
  }

  .main-skitka .right-contant .leaft__right-top {
    display: none;
  }

  .main-skitka .right-contant .product-img {
    left: 10%;
  }
}

/* max-widht 769px */
@media screen and (max-width:900px) {

  /* Seeds-box */
  .seeds-box .center-contant {
    width: 60%;
  }

  .seeds-box .left-img .seed-rigth {
    top: 100%;
    left: 70%;
  }

  .seeds-box .left-img .seed-bottom {
    display: none;
  }

  .seeds-box .right-img .seed-top {
    display: none;
  }

  .seeds-box .right-img .seed-left-bottom {
    display: none;
  }

  .seedra__speed .right-img .circle {
    right: 5%;
  }

  .seedra__speed .right-img .girl-img {
    right: 13%;
  }

  /* .products-section */
  .product__iteams-box .product__iteam {
    width: 350px;
  }

  .product__iteam .pruduct-about {
    width: 350px;
  }

  .products-section .product__iteams-box {
    flex-wrap: nowrap;
  }

  /* .blog-section  */
  .blog-iteams-box {
    display: flex;
    overflow: hidden;
  }

  .blog-iteams-box .blog-iteam {
    width: 350px;
    flex-direction: column;
  }

  .blog-iteam-right {
    text-align: center;
  }

  .customer-iteams .customer__opinion-box {
    width: 350px;
  }

  .footer-list-box .footer-list {
    flex-direction: column;
    top: 20%;
  }

  .footer-list-box img {
    position: relative;
    top: -70px;
  }
}

@media screen and (max-width: 430px) {
  .seedra__speed .right-img .circle {
    right: -50%;
    transform: scale(0.8);
  }

  .seedra__speed .right-img .girl-img {
    right: -35%;
    transform: scale(0.8);
  }

  .seedra__speed .right-img .leaft-top {
    left: -45%;
  }

  .seedra__speed .right-img .leaft-bootom {
    left: -40%;
  }

  .seedra__speed .right-img .leaft-right {
    right: -50%;
  }

  .seedra__speed .right-img .leaft-top-right {
    top: 10%;
    right: -30%;
  }

  .seedra__speed .right-img .leaft-right-bottom {
    right: -20%;
  }

}